# 전기 자동차 충전 데이터를 기반으로 충전기 현황 예측 및 추천 모델 개발

## 기간 : 2020년 8월 - 2020년 11월

## 프로젝트 내용
### 1. 전기 자동차의 충전기 이용 현황을 이용하여 사용자의 이용 패턴을 전처리하여
###  분류 모델로 학습한다.
### 2. 전처리 된 내용으로 결과를 확인하기 위해 특정지역(제주도)을 선정하여각 구역별로 학습 및 예측 결과를 나타내었다.

In [1]:
import time
import datetime
import numpy as np
import pandas as pd
import warnings
import openpyxl
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
import joblib

# 각 구역 데이터

In [2]:
A = pd.read_csv('csv\A.csv')
B = pd.read_csv('csv\B.csv')
C = pd.read_csv('csv\C.csv')
D = pd.read_csv('csv\D.csv')
E = pd.read_csv('csv\E.csv')
F = pd.read_csv('csv\F.csv')

# 각 구역 학습하기

In [3]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score


A_target = A['use']
A_data = A.drop(['use', 'sid', 'gu'], axis=1, inplace=False)
AX_train, AX_test, AY_train, AY_test = \
    train_test_split(A_data, A_target, test_size=0.2, random_state=156)


B_target = B['use']
B_data = B.drop(['use', 'sid', 'gu'], axis=1, inplace=False)
BX_train, BX_test, BY_train, BY_test = \
    train_test_split(B_data, B_target, test_size=0.2, random_state=156)


C_target = C['use']
C_data = C.drop(['use', 'sid', 'gu'], axis=1, inplace=False)
CX_train, CX_test, CY_train, CY_test = \
    train_test_split(C_data, C_target, test_size=0.2, random_state=156)


D_target = D['use']
D_data = D.drop(['use', 'sid', 'gu'], axis=1, inplace=False)
DX_train, DX_test, DY_train, DY_test = \
    train_test_split(D_data, D_target, test_size=0.2, random_state=156)


E_target = E['use']
E_data = E.drop(['use', 'sid', 'gu'], axis=1, inplace=False)
EX_train, EX_test, EY_train, EY_test = \
    train_test_split(E_data, E_target, test_size=0.2, random_state=156)


F_target = F['use']
F_data = F.drop(['use', 'sid', 'gu'], axis=1, inplace=False)
FX_train, FX_test, FY_train, FY_test = \
    train_test_split(F_data, F_target, test_size=0.2, random_state=156)

## Decision Tree

In [4]:
from sklearn.tree import DecisionTreeClassifier
adtc = DecisionTreeClassifier()
adtc.fit(AX_train, AY_train)
AY_pred_dtc = adtc.predict(AX_test)

accuracy_score(AY_test, AY_pred_dtc)
joblib.dump(adtc, 'a_model')

['a_model']

In [5]:
from sklearn.tree import DecisionTreeClassifier
bdtc = DecisionTreeClassifier()
bdtc.fit(BX_train, BY_train)
BY_pred_dtc = bdtc.predict(BX_test)

accuracy_score(BY_test, BY_pred_dtc)
joblib.dump(bdtc, 'b_model')

['b_model']

In [6]:
from sklearn.tree import DecisionTreeClassifier
cdtc = DecisionTreeClassifier()
cdtc.fit(CX_train, CY_train)
CY_pred_dtc = bdtc.predict(CX_test)

accuracy_score(CY_test, CY_pred_dtc)
joblib.dump(cdtc, 'c_model')

['c_model']

In [7]:
from sklearn.tree import DecisionTreeClassifier
ddtc = DecisionTreeClassifier()
ddtc.fit(DX_train, DY_train)
DY_pred_dtc = ddtc.predict(DX_test)

accuracy_score(DY_test, DY_pred_dtc)
joblib.dump(ddtc, 'd_model')

['d_model']

In [8]:
from sklearn.tree import DecisionTreeClassifier
edtc = DecisionTreeClassifier()
edtc.fit(EX_train, EY_train)
EY_pred_dtc = edtc.predict(EX_test)

accuracy_score(EY_test, EY_pred_dtc)
joblib.dump(edtc, 'e_model')

['e_model']

In [9]:
from sklearn.tree import DecisionTreeClassifier
fdtc = DecisionTreeClassifier()
fdtc.fit(FX_train, FY_train)
FY_pred_dtc = bdtc.predict(FX_test)

accuracy_score(FY_test, FY_pred_dtc)
joblib.dump(fdtc, 'f_model')

['f_model']

# 미래 예측 테스트

In [10]:
a_test = A.drop_duplicates('cid')
a_test['week'] = 3
a_test['day'] = 1112
a_test['time'] = 14
aa = a_test.drop(['use', 'sid', 'gu'], axis = 1)

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [11]:
b_test = B.drop_duplicates('cid')
b_test['week'] = 3
b_test['day'] = 1112
b_test['time'] = 14
bb = b_test.drop(['use', 'sid', 'gu'], axis = 1)

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
c_test = C.drop_duplicates('cid')
c_test['week'] = 3
c_test['day'] = 1112
c_test['time'] = 14
cc = c_test.drop(['use', 'sid', 'gu'], axis = 1)

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [13]:
d_test = D.drop_duplicates('cid')
d_test['week'] = 3
d_test['day'] = 1112
d_test['time'] = 14
dd = d_test.drop(['use', 'sid', 'gu'], axis = 1)

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [14]:
e_test = E.drop_duplicates('cid')
e_test['week'] = 3
e_test['day'] = 1112
e_test['time'] = 14
ee = e_test.drop(['use', 'sid', 'gu'], axis = 1)

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
f_test = F.drop_duplicates('cid')
f_test['week'] = 3
f_test['day'] = 1112
f_test['time'] = 14
ff = f_test.drop(['use', 'sid', 'gu'], axis = 1)

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
a_dt = adtc.predict(aa)
b_dt = bdtc.predict(bb)
c_dt = cdtc.predict(cc)
d_dt = ddtc.predict(dd)
e_dt = edtc.predict(ee)
f_dt = fdtc.predict(ff)
apred = pd.DataFrame({'A': a_dt})
bpred = pd.DataFrame({'B': b_dt})
cpred = pd.DataFrame({'C': c_dt})
dpred = pd.DataFrame({'D': d_dt})
epred = pd.DataFrame({'E': e_dt})
fpred = pd.DataFrame({'F': f_dt})

In [17]:
a_test['DT'] = list(apred['A'])
a_test = a_test.sort_values(by=['gu', 'sid'], ascending=True)
a_test = a_test.drop(['Unnamed: 0', 'cid', 'week', 'use'], axis=1)
a_test['group'] = 'A'
a_test

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       day  time       sid   gu  DT group
422   1112    14  50110079  애월읍   0     A
648   1112    14  50110081  애월읍   0     A
884   1112    14  50110105  애월읍   0     A
2204  1112    14  ME19B247  애월읍   0     A
2427  1112    14  ME19B247  애월읍   0     A
0     1112    14  50110054  한경면   1     A
224   1112    14  50110070  한경면   0     A
886   1112    14  ME174079  한경면   0     A
1710  1112    14  ME18A178  한경면   0     A
1143  1112    14  ME174080  한림읍   0     A
1407  1112    14  ME174081  한림읍   0     A
1508  1112    14  ME174081  한림읍   0     A
1609  1112    14  ME174081  한림읍   0     A
1931  1112    14  ME18A179  한림읍   1     A

In [18]:
b_test['DT'] = list(bpred['B'])
b_test = b_test.sort_values(by=['gu', 'sid'], ascending=True)
b_test = b_test.drop(['Unnamed: 0', 'cid', 'week', 'use'], axis=1)
b_test['group'] = 'B'
b_test

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        day  time       sid    gu  DT group
823    1112    14  50110074   건입동   0     B
2375   1112    14  50110103   건입동   0     B
999    1112    14  50110075   노형동   0     B
1238   1112    14  50110075   노형동   0     B
8039   1112    14  ME181542   노형동   0     B
2809   1112    14  50110108   도남동   0     B
3025   1112    14  50110108   도남동   0     B
5244   1112    14  ME174065   도남동   1     B
5502   1112    14  ME174066   도남동   0     B
10131  1112    14  ME18A309   도남동   0     B
10141  1112    14  ME18A309   도남동   0     B
6564   1112    14  ME174072  도두1동   0     B
9179   1112    14  ME18A278  도련2동   0     B
9400   1112    14  ME18A278  도련2동   0     B
4498   1112    14  50110117   봉개동   0     B
8533   1112    14  ME184129   봉개동   1     B
8938   1112    14  ME18A176   봉개동   0     B
9777   1112    14  ME18A308   봉개동   0     B
9954   1112    14  ME18A308   봉개동   1     B
10433  1112    14  ME19B175  삼도2도   0     B
1707   1112    14  50110077  삼양2동   0     B
742    1112    14  50110071  아라1동   0     B
3756   1112    14  50110112  아라1동   0     B
5733   1112    14  ME174067  아라1동   0     B
4979   1112    14  50110120  아라2동   0     B
6091   1112    14  ME174069   아라동   0     B
6339   1112    14  ME174070   아라동   0     B
0      1112    14  50110001    연동   0     B
411    1112    14  50110025    연동   0     B
4752   1112    14  50110118    연동   0     B
5856   1112    14  ME174068    연동   0     B
7809   1112    14  ME181538    연동   0     B
9621   1112    14  ME18A279    연동   0     B
9699   1112    14  ME18A279    연동   0     B
10668  1112    14  ME19B246    연동   0     B
10670  1112    14  ME19B246    연동   0     B
10672  1112    14  ME19B250    연동   0     B
10807  1112    14  ME19B250    연동   0     B
1477   1112    14  50110076   영평동   0     B
8733   1112    14  ME184130   오등동   0     B
1954   1112    14  50110082  오라1동   0     B
2152   1112    14  50110101  오라1동   0     B
442    1112    14  50110056  오라2동   1     B
3993   1112    14  50110113  외도1동   0     B
6812   1112    14  ME174073  외도1동   1     B
3490   1112    14  50110111   용강동   1     B
10151  1112    14  ME19B174  용담1동   0     B
10292  1112    14  ME19B174  용담1동   0     B
8308   1112    14  ME181544  용담2동   0     B
7072   1112    14  ME174074  이도1동   1     B
7311   1112    14  ME174075  이도1동   1     B
207    1112    14  50110009  이도2동   0     B
3241   1112    14  50110110  일도2동   0     B
4258   1112    14  50110115  일도2동   0     B
4977   1112    14  50110119   추자면   0     B
691    1112    14  50110069   해안동   0     B
2630   1112    14  50110104   해안동   0     B
7548   1112    14  ME174082  화북1동   1     B

In [19]:
c_test['DT'] = list(cpred['C'])
c_test = c_test.sort_values(by=['gu', 'sid'], ascending=True)
c_test = c_test.drop(['Unnamed: 0', 'cid', 'week', 'use'], axis=1)
c_test['group'] = 'C'
c_test

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       day  time       sid   gu  DT group
418   1112    14  50110073  구좌읍   1     C
830   1112    14  50110106  구좌읍   0     C
1508  1112    14  50110121  구좌읍   0     C
1660  1112    14  ME174063  구좌읍   1     C
1915  1112    14  ME174064  구좌읍   0     C
2317  1112    14  ME184127  구좌읍   1     C
2575  1112    14  ME184128  구좌읍   1     C
4145  1112    14  ME19B251  구좌읍   0     C
4337  1112    14  ME19B251  구좌읍   0     C
4529  1112    14  ME19B253  구좌읍   0     C
4759  1112    14  ME19B253  구좌읍   0     C
0     1112    14  50110053  조천읍   0     C
243   1112    14  50110067  조천읍   0     C
245   1112    14  50110068  조천읍   0     C
627   1112    14  50110080  조천읍   0     C
1026  1112    14  50110107  조천읍   0     C
1276  1112    14  50110114  조천읍   0     C
2069  1112    14  ME174077  조천읍   0     C
2071  1112    14  ME181539  조천읍   0     C
2838  1112    14  ME184131  조천읍   0     C
3093  1112    14  ME18A177  조천읍   1     C
3285  1112    14  ME18A276  조천읍   0     C
3302  1112    14  ME18A276  조천읍   0     C
3319  1112    14  ME18A280  조천읍   0     C
3465  1112    14  ME18A280  조천읍   0     C
3611  1112    14  ME18A282  조천읍   0     C
3775  1112    14  ME18A282  조천읍   0     C
3939  1112    14  ME18A307  조천읍   0     C
4042  1112    14  ME18A307  조천읍   0     C

In [28]:
d_test['DT'] = list(dpred['D'])
d_test = d_test.sort_values(by=['gu', 'sid'], ascending=True)
#d_test = d_test.drop(['Unnamed: 0', 'cid', 'week', 'use'], axis=1)
d_test['group'] = 'D'
d_test[10:]

       day  time       sid   gu  DT group
1169  1112    14  ME174050  색달동   1     D
1865  1112    14  ME18A271  색달동   1     D
1912  1112    14  ME18A271  색달동   1     D
0     1112    14  50130013  안덕면   0     D
1171  1112    14  ME174058  안덕면   0     D
1959  1112    14  ME18A272  안덕면   0     D
1961  1112    14  ME18A272  안덕면   0     D
237   1112    14  50130021  중문동   0     D
1377  1112    14  ME184126  중문동   1     D

In [21]:
e_test['DT'] = list(epred['E'])
e_test = e_test.sort_values(by=['gu', 'sid'], ascending=True)
e_test = e_test.drop(['Unnamed: 0', 'cid', 'week', 'use'], axis=1)
e_test['group'] = 'E'
e_test

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       day  time       sid   gu  DT group
459   1112    14  50130003  강정동   0     E
6839  1112    14  ME19B173  강정동   0     E
7065  1112    14  ME19B241  강정동   0     E
7067  1112    14  ME19B241  강정동   0     E
239   1112    14  50110084  남원읍   0     E
1395  1112    14  50130063  남원읍   0     E
2675  1112    14  ME174045  남원읍   0     E
2889  1112    14  ME174046  남원읍   0     E
5766  1112    14  ME18A270  남원읍   1     E
5768  1112    14  ME18A270  남원읍   1     E
6396  1112    14  ME19B170  남원읍   0     E
1568  1112    14  50130065  동홍동   0     E
2443  1112    14  50130069  동홍동   1     E
4772  1112    14  ME184123  동홍동   0     E
7069  1112    14  ME19B242  동홍동   0     E
7071  1112    14  ME19B242  동홍동   0     E
959   1112    14  50130057  법환동   0     E
3064  1112    14  ME174049  법환동   0     E
2270  1112    14  50130068  보목동   0     E
5016  1112    14  ME184124  상효동   0     E
5762  1112    14  ME18A269  상효동   0     E
5764  1112    14  ME18A269  상효동   1     E
2022  1112    14  50130067  서귀동   0     E
3307  1112    14  ME174051  서귀동   1     E
3567  1112    14  ME174053  서귀동   0     E
5774  1112    14  ME18A275  서귀동   0     E
5996  1112    14  ME18A275  서귀동   0     E
3801  1112    14  ME174054  서호동   1     E
5511  1112    14  ME18A180  서호동   0     E
664   1112    14  50130016  서홍동   0     E
727   1112    14  50130056  서홍동   1     E
1180  1112    14  50130061  서홍동   0     E
4029  1112    14  ME174055  서홍동   1     E
4277  1112    14  ME174055  서홍동   0     E
5268  1112    14  ME18A173  서홍동   0     E
6218  1112    14  ME19B169  서홍동   0     E
1794  1112    14  50130066  토평동   0     E
6612  1112    14  ME19B172  토평동   0     E
0     1112    14  50110083  하효동   1     E
5770  1112    14  ME18A274  하효동   1     E
5772  1112    14  ME18A274  하효동   1     E
4525  1112    14  ME174062  회수동   1     E

In [22]:
f_test['DT'] = list(fpred['F'])
f_test = f_test.sort_values(by=['gu', 'sid'], ascending=True)
f_test = f_test.drop(['Unnamed: 0', 'cid', 'week', 'use'], axis=1)
f_test['group'] = 'F'
f_test

c:\users\12\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       day  time       sid   gu  DT group
256   1112    14  50130018  성산읍   1     F
772   1112    14  50130062  성산읍   0     F
997   1112    14  50130064  성산읍   1     F
1213  1112    14  ME174057  성산읍   1     F
1464  1112    14  ME174057  성산읍   0     F
1815  1112    14  ME181540  성산읍   1     F
2054  1112    14  ME183101  성산읍   0     F
2176  1112    14  ME183101  성산읍   0     F
2298  1112    14  ME183101  성산읍   0     F
2420  1112    14  ME183101  성산읍   0     F
0     1112    14  50130009  표선면   1     F
302   1112    14  50130051  표선면   0     F
525   1112    14  50130059  표선면   0     F
1715  1112    14  ME174061  표선면   1     F

## 전체 테스트

In [23]:
test = a_test.append([b_test, c_test, d_test, f_test])
test = test[['group', 'sid', 'gu', 'day', 'time', 'DT']]
test

     group       sid   gu   day  time  DT
422      A  50110079  애월읍  1112    14   0
648      A  50110081  애월읍  1112    14   0
884      A  50110105  애월읍  1112    14   0
2204     A  ME19B247  애월읍  1112    14   0
2427     A  ME19B247  애월읍  1112    14   0
...    ...       ...  ...   ...   ...  ..
2420     F  ME183101  성산읍  1112    14   0
0        F  50130009  표선면  1112    14   1
302      F  50130051  표선면  1112    14   0
525      F  50130059  표선면  1112    14   0
1715     F  ME174061  표선면  1112    14   1

[134 rows x 6 columns]

In [24]:
test.to_csv('test.csv')